<?xml version="1.0" encoding="utf-8"?>
<odoo>

 
    <menuitem id="menu_room_management_root" name="Room Management" web_icon="rama_room_mgt__modules,static/description/odoo_icon.png" sequence="10"/>
    
 
    <menuitem id="menu_room_configuration" name="Room Configuration" parent="menu_room_management_root" sequence="10"/>

 
    <menuitem id="menu_building_configuration" name="Building Configuration" parent="menu_room_management_root" sequence="15"/>
    
 
    <menuitem id="menu_rama_room" name="Rooms" parent="menu_room_configuration" action="action_rama_room" sequence="10"/>
    <menuitem id="menu_rama_room_type" name="Room Types" parent="menu_room_configuration" action="action_rama_room_type" sequence="40"/>
    <menuitem id="menu_rama_room_amenities" name="Room Amenities" parent="menu_room_configuration" action="action_rama_room_amenities" sequence="50"/>
    <menuitem id="menu_rama_room_managers" name="Room Managers" parent="menu_room_configuration" action="action_room_managers" sequence="60"/>
    
 
    <menuitem id="menu_rama_building" name="Buildings" parent="menu_building_configuration" action="action_rama_building" sequence="10"/>
    <menuitem id="menu_rama_building_floor" name="Building Floors" parent="menu_building_configuration" action="action_rama_building_floor" sequence="20"/>

 
    <menuitem id="menu_rama_room_reservations" name="Room Reservations" parent="menu_room_management_root" action="action_rama_room_reservation" sequence="20" />


</odoo>
